@layer components {
	/* PRIMARY BUTTONS */
	/* e.g. accept, login, etc. */

	.btn {
		@apply btn-primary-base border-orange-600 bg-orange-600
        hover:border-orange-700 hover:bg-orange-700;
	}

	.btn:disabled {
		@apply hover:border-orange-600 hover:bg-orange-600;
	}

	.btn-primary-base {
		@apply btn-base text-white;
	}

	.btn-base {
		@apply cursor-pointer rounded-md border-2 p-1.5 text-center font-medium leading-5
        tracking-wide transition duration-150 ease-in-out focus:outline-none
        disabled:cursor-not-allowed disabled:opacity-50;
	}

	/* SECONDARY BUTTONS */
	/* e.g. cancel button next to a primary action button */
	.btn-secondary {
		@apply btn-secondary-base border-orange-600 text-orange-600
		hover:bg-orange-600 hover:text-white;
	}

	.btn-secondary:disabled {
		@apply bg-transparent text-orange-600;
	}

	.btn-secondary-base {
		@apply btn-base;
	}
}
